{% set ca = salt['pillar.get']('ca', {
  "server": {
    'certificate': {
      "parameters": {
        'CN': "<CA Name>",
        'C': "",
        'ST': "",
        'L': "",
        'O': "",
        'OU': "",
        "basicConstraints": "\"critical CA:true\"",
        "keyUsage": "\"critical cRLSign, keyCertSign\"",
        "subjectKeyIdentifier": "hash",
        "authorityKeyIdentifier": "keyid,issuer:always",
        "days_valid": 3650,
       },
      'file': "ca.crt",
      'file_key': "ca.key",
      'key_bits': 4096
    },
    'signing_policies_version' : 1,
    'signing_policies': {
      "example" : {
        "minions" : "'*'",
        "signing_private_key": "/etc/pki/private/salt-ca.key",
        "signing_cert": "/etc/pki/salt-ca.crt",
        "C": "",
        "ST": "",
        "L": "",
        "basicConstraints": "\"critical CA:false\"",
        "keyUsage": "\"critical keyEncipherment\"",
        "subjectKeyIdentifier": "hash",
        "authorityKeyIdentifier": "keyid,issuer:always",
        "days_valid": 90,
      }
    },
    'signing_policies_file_template': "salt://ca/files/signing-policies.conf",
    'crl_file':  "crl.crl",
  },

  "client": {
    "signing_policy": "default",
    "certificate": {
      "key_bits": 4096,

    },
    "crl": False,
  },
  "pki_directory": "/etc/pki",
  'server_id': "<salt_id_where_ca_is_at>",
  'mine_ca_func_id': "ca_certificate",
  'mine_ca_crl_func_id': "ca_crl",
  'mine_ca_crt_path': "<should match with ca.server.pki_directory + ca.server.certificate.file",
  'mine_ca_crl_path': "<should match with ca.server.pki_directory + ca.server.crl_file",
  'ca_certificate_file': "/usr/local/share/ca-certificates/salt-ca.crt",
  'ca_crl_file': "/usr/local/share/ca-certificates/salt-ca.crl",
  'm2crypto':'pkg'
}, merge=True) %}
